# Arquivos de Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Configurações do Editor (VS Code / JetBrains)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Logs e Arquivos Temporários
*.log
*.tmp
